.faq {
  margin-top: 160px;
  margin-bottom: 160px;
  position: relative;
  @include media-breakpoint-down(sm) {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  &:after {
    position: absolute;
    content: "";
    background-image: url("https://cdn.shopify.com/s/files/1/0655/4471/6515/files/cookie.png?v=1664278558");
    background-size: cover;
    background-repeat: no-repeat;
    top: -55px;
    right: 0;
    width: 100%;
    max-width: 224px;
    height: 100%;
    max-height: 902px;
    @include media-breakpoint-down(lg) {
      display: none;
    }
  }
  h2,h3,h4 {
    color: $black;
  }
  h2,h3 {
    text-align: center;
  }
  &__content {
    max-width: 810px;
    position: relative;
    &::after {
      position: absolute;
      top: -35%;
      right: -10%;
      margin: auto;
      content: "";
      display: none;
      width: 600px;
      height: 600px;
      background: $primary;
      filter: blur(400px);
      opacity: 0.4;
      pointer-events: none;
      z-index: 3;
        @include media-breakpoint-down(sm) {
          opacity: 0.2;
          display: block;
          width: 250px;
          height: 250px;
          right: -80px;
          filter: blur(100px);
          top: 0;
        }
    }
  }
  &__items-wrapper {
    margin-top: 60px;
    margin-bottom: 80px;
    @include media-breakpoint-down(sm) {
      margin-top: 24px;
      margin-bottom: 56px;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &__item-btn-wrapper {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid $primary;
    @include media-breakpoint-down(sm) {
      padding: 18px 15px;
    }
  } 
  &__item-answer {
    max-height: 0;
    overflow: hidden;
    height: auto;
    transition: all .3s ease-in-out;
  }
  &__item-inside {
    line-height: 24px;
    color: $text;
    padding: 30px;
    background: rgba(82, 193, 209, 0.03);
    @include media-breakpoint-down(sm) {
      line-height: 21px;
    }
  }
  &__item-btn {
    @include media-breakpoint-down(sm) {
      line-height: 24px;
    }
  }
  &__item-btn-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      transition: all .2s ease-in-out;
    }
  }
  &__item.active {
    .faq__item-answer {
      border-bottom: 1px solid $primary;
    }
    .faq__item-btn-arrow svg {
      transform: rotate(180deg);
    }
  }
}