.map-section {
    position: relative;
    width: 100%;
    min-height: 422px;
    z-index: 0;
    @include media-breakpoint-down(md) {
        display: flex;
        flex-direction: column-reverse;
        min-height: auto;
    }
    .map-box {
        @include media-breakpoint-down(md) {
            position: relative;
            min-height: 280px;
        }
    }
    #map {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .container {
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 5;
        pointer-events: none;
        @include media-breakpoint-down(md) {
            max-width: 100%;
            position: static;
            pointer-events: auto;
            padding: 0 !important;
        }
    }
    &__box {
        max-width: 495px;
        margin-top: -60px;
        background: $primary;
        padding: 60px;
        display: flex;
        flex-direction: column;
        @include media-breakpoint-down(md) {
            max-width: 100%;
            margin-top: 0;
        }
        @include media-breakpoint-down(sm) {
            padding: 50px 17px 50px 20px;
        }
        h2 {
            font-weight: 400;
            font-size: 32px;
            line-height: 38px;
            color: $white;
            margin-bottom: 35px;
            @include media-breakpoint-down(sm) {
                font-size: 26px;
                text-align: center;
            }
        }
        strong {
            font-family: $font-family-base;
            display: inline-flex;
            align-items: center;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: $white;
            margin-bottom: 25px;
            letter-spacing: 0.3px;
            @include media-breakpoint-down(sm) {
                font-size: 14px;
            }
            &::before {
                content: "";
                display: block;
                width: 24px;
                height: 24px;
                background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE5IDkuMjcyNzNDMTkgMTQuNzI3MyAxMiAyMiAxMiAyMkMxMiAyMiA1IDE0LjcyNzMgNSA5LjI3MjczQzUgNS4yNTYxMSA4LjEzNDAxIDIgMTIgMkMxNS44NjYgMiAxOSA1LjI1NjExIDE5IDkuMjcyNzNaIiBzdHJva2U9IndoaXRlIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+CjxjaXJjbGUgY3g9IjEyIiBjeT0iOS41IiByPSIzLjUiIHN0cm9rZT0id2hpdGUiLz4KPC9zdmc+Cg==");
                background-position: center;
                background-repeat: no-repeat;
                margin-right: 5px;
                margin-left: -4px;
            }
        }
    }
    &__time {
        position: relative;
        list-style: none;
        padding-left: 25px;
        &::before {
            position: absolute;
            left: 0;
            top: 0;
            content: "";
            display: block;
            width: 24px;
            height: 24px;
            background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwXzUyNV8yMzk0KSI+CjxwYXRoIGQ9Ik0xMiA3LjkwOTA5VjEyLjM4NzZMMTUuMjcyNyAxNC40NTQ1TTIxIDEyQzIxIDE2Ljk3MDYgMTYuOTcwNiAyMSAxMiAyMUM3LjAyOTQ0IDIxIDMgMTYuOTcwNiAzIDEyQzMgNy4wMjk0NCA3LjAyOTQ0IDMgMTIgM0MxNi45NzA2IDMgMjEgNy4wMjk0NCAyMSAxMloiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L2c+CjxkZWZzPgo8Y2xpcFBhdGggaWQ9ImNsaXAwXzUyNV8yMzk0Ij4KPHJlY3Qgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiBmaWxsPSJ3aGl0ZSIvPgo8L2NsaXBQYXRoPgo8L2RlZnM+Cjwvc3ZnPgo=");
            background-position: center;
            background-repeat: no-repeat;
            margin-right: 5px;
            margin-left: -4px;
        }

        li {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid $white;
            span {
                font-family: $font-family-base;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: $white;
                @include media-breakpoint-down(sm) {
                    font-size: 14px;
                }
            }
        }
    }
}


.template-sf-wholesale, .template-sf-fundraising, .template-404 {
    .map-section {
        z-index: 4;
    }
}
