.review {
    padding-top: 160px;
    position: relative;
    @include media-breakpoint-down(md) {
        padding-top: 80px;
    }
    @include media-breakpoint-down(sm) {
        padding-top: 100px;
    }
    &::before {
        position: absolute;
        content: "";
        display: block;
        width: 600px;
        height: 600px;
        background: $primary;
        filter: blur(400px);
        will-change: filter;
        opacity: 0.2;
        top: -50%;
        left: -5%;
        @include media-breakpoint-down(md) {
            content: none;
        }
    }
    &::after {
        position: absolute;
        right: -5%;
        top: 0;
        bottom: 0;
        margin: auto;
        content: "";
        display: block;
        width: 600px;
        height: 600px;
        background: $pink;
        filter: blur(400px);
        will-change: filter;
        opacity: 0.4;
        @include media-breakpoint-down(md) {
            content: none;
        }
    }
    .container {
        @include media-breakpoint-down(sm) {
            max-width: 100%;
            padding: 0;
        }
    }
    &__title {
        margin-bottom: 80px;
        @include media-breakpoint-down(sm) {
            margin-bottom: 56px;
        }
        h2 {
            text-align: center;
            color: $pink;
            text-transform: uppercase;
        }
    }
    .swiper-container {
        position: relative;
    }
    &__border {
        position: relative;
        z-index: 0;
        padding: 2px;
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 10px;
            background: linear-gradient(
                90deg,
                rgba(82, 193, 209, 1) 0%,
                rgba(167, 144, 206, 1) 35%,
                rgba(239, 154, 176, 1) 100%
            );
            z-index: -1;
        }
    }
    &__box {
        position: relative;
        border-radius: 10px;
        z-index: 2;
        background-color: $white;
        padding: 50px 70px;
        @include media-breakpoint-down(sm) {
            padding: 40px 32px;
        }
        h4 {
            font-weight: 400;
            color: $primary;
            margin-bottom: 15px;
        }
        svg {
            margin-right: 5px;
        }
    }
    &__star {
        margin-bottom: 15px;
    }
    &__text {
        font-family: $font-family-base;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $gray;
        margin-bottom: 15px;
        @include media-breakpoint-down(sm) {
            font-size: 14px;
            line-height: 21px;
            letter-spacing: normal;
        }
    }
    &__auth {
        text-align: right;
        color: $primary;
    }

    .swiper-button-prev {
        left: -39px;
        width: 80px;
        height: 60px;
        z-index: 2;
        @media (min-width: 1200px) and (max-width: 1280px) {
            left: -20px;
        }
        @include media-breakpoint-down(sm) {
            width: 54px;
            height: 54px;
            left: -5px;
        }
        svg {
            @include media-breakpoint-down(sm) {
                width: 60px;
            }
        }
        &::after {
            content: none;
        }
    }

    .swiper-button-next {
        right: -39px;
        width: 80px;
        height: 60px;
        z-index: 2;
        @media (min-width: 1200px) and (max-width: 1280px) {
            right: -20px;
        }
        @include media-breakpoint-down(sm) {
            width: 54px;
            height: 54px;
            right: -5px;
        }
        svg {
            @include media-breakpoint-down(sm) {
                width: 60px;
            }
        }
        &::after {
            content: none;
        }
    }

    .swiper-pagination {
        bottom: -63px;
        .swiper-pagination-bullet {
            position: relative;
            width: 10px;
            height: 10px;
            background: #52c1d1;
            opacity: 0.3;
            &.swiper-pagination-bullet-active {
                opacity: 1;
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 16px;
                    height: 16px;
                    border: 1px solid #52c1d1;
                    border-radius: 50%;
                    left: -3px;
                    top: -3px;
                }
            }
        }
    }
}
