#stamped-main-widget {
    margin: 0 !important;
    &.stamped-main-widget-loading {
        .stamped-review {
            &::before {
                content: none !important;
            }
        }
    }
}

div.stamped-container[data-widget-style] {
    max-width: 100% !important;
    margin: 0 !important;
}

div[data-widget-style*=standard] .stamped-tab-container {
    display: none !important;
}

.stamped-container {
    .stamped-header-title {
        display: block !important;
        font-weight: 400;
        font-size: 32px;
        line-height: 38px;
        color: $black;
        font-family: $headings-font-family;
        margin-bottom: 8px;
        @include media-breakpoint-down(sm) {
            font-size: 26px;
            text-align: left;
        }
    }
    .stamped-review-avatar {
        display: none !important;
    }
    .stamped-summary-ratings {
        display: none !important;
    }
    .stamped-tab-container {
        display: none !important;
    }
    .review-location {
        display: none !important;
    }
    .stamped-review-share {
        display: none !important;
    }
    .stamped-summary {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-right: 5px !important;
        @include media-breakpoint-down(sm) {
            flex-direction: column;
        }
        &::before,
        &::after {
            content: none;
        }
        &[data-count="0"] {
            .stamped-starrating {
                opacity: 0 !important;
            }
        }
    }
    .stamped-summary-actions {
        .stamped-summary-actions-newreview {
            display: flex;
            padding: 13px 121px !important;
            font-family: $headings-font-family;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.1em;
            box-shadow: 0px 2px 10px rgba(0, 22, 35, 0.15) !important;
            border-radius: 50px;
            opacity: 1 !important;
            border: 2px solid $primary;
            color: $primary !important;
            text-transform: uppercase;
            transition: 0.3s;
            white-space: nowrap;
            @include media-breakpoint-down(md) {
                padding: 13px 70px!important;
            }
            @include media-breakpoint-down(sm) {
                justify-content: center;
            }
            &:hover {
                color: $white !important;
                background-color: $primary !important;
            }
            &::before {
                content: none !important;
            }
        }
        .stamped-summary-actions-newquestion {
            display: none !important;
        }
    }
    .summary-overview {
        display: flex !important;
        align-items: center;
        margin-bottom: 0 !important;
        width: fit-content !important;
        @include media-breakpoint-down(md) {
            flex-direction: column;
            align-items: flex-start;
        }
        @include media-breakpoint-down(sm) {
            width: 100% !important;
            align-items: flex-start;
            margin: 0 0 15px !important;
        }
        .stamped-summary-starrating {
            max-height: 24px;
            margin-right: 10px;
            @include media-breakpoint-down(sm) {
                margin-right: 0;
            }
            .stamped-fa {
                &::before {
                    font-size: 20px !important;
                    line-height: normal !important;
                }
            }
        }
        > .stamped-summary-caption-1 {
            display: none !important;
        }
        > .stamped-summary-caption-2 {
            span {
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                color: $gray;
            }
        }
        .stamped-summary-text {
            margin: 0 !important;
        }
    }

    .stamped-reviews-filter {
        display: none !important;
    }

    .stamped-header {
        position: relative;
        background-color: #fff;
        padding-bottom: 40px;
        margin-bottom: 40px !important;
        @include media-breakpoint-down(sm) {
            padding-bottom: 25px;
            margin-bottom: 2px !important;
        }
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: -2px;
            background: linear-gradient(90deg, rgb(82, 193, 209) 0%, rgb(167, 144, 206) 35%, rgb(239, 154, 176) 100%);
            z-index: -1;
            pointer-events: none;
            transition: 0.3s;
        }
    }

    .stamped-review {
        position: relative;
        border: none !important;
        background-color: $white;
        padding-top: 40px;
        padding-bottom: 40px !important;
        margin-bottom: 2px !important;
        @include media-breakpoint-down(md) {
            padding-top: 24px !important;
            padding-bottom: 24px !important;
        }
        &:first-child {
            &::before {
                content: none !important;
            }
        }
        &:last-of-type {
            &::before {
                bottom: -2px !important;
            }
        }
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: -2px;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(90deg, rgb(82, 193, 209) 0%, rgb(167, 144, 206) 35%, rgb(239, 154, 176) 100%);
            z-index: -1;
            pointer-events: none;
            transition: 0.3s;
        }
        .author {
            width: 100%;
            display: block;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
            color: $black;
            margin-bottom: 9px;
            @include media-breakpoint-down(sm) {
                font-size: 16px;
            }
        }
        .created {
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
            text-align: right;
            color: $black;
            @include media-breakpoint-down(sm) {
                font-size: 16px;
            }
        }
        .stamped-rating-holder {
            font-weight: 300;
            font-size: 15px;
            line-height: 22px;
            color: $gray;
            @include media-breakpoint-down(sm) {
                font-size: 12px;
                line-height: 18px;
            }
            a {
                cursor: pointer !important;
            }
        }
        .stamped-review-header-title {
            font-family: $headings-font-family;
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            color: $black;
            @include media-breakpoint-down(sm) {
                font-size: 20px;
                line-height: 24px;
            }
        }
        .stamped-review-content {
            margin-bottom: 0 !important;
        }
        .stamped-review-content-body {
            max-width: 705px;
            margin-top: 15px;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: $gray;
            @include media-breakpoint-down(sm) {
                font-size: 14px;
                line-height: 21px;
                margin-top: 8px;
            }
        }
        .stamped-review-image {
            display: none !important;
        }
        .stamped-review-footer {
            margin-top: 0 !important;
            position: absolute;
            right: 0;
            bottom: 41px;
            left: 0;
            @include media-breakpoint-down(md) {
                position: static !important;
                margin-top: 20px !important;
            }
            @include media-breakpoint-down(sm) {
                margin-top: 15px !important;
            }
        }
    }

    .stamped-pagination {
        margin-top: 50px !important;
        @include media-breakpoint-down(sm) {
            margin-top: 25px !important;
        }
        .previous {
            color: transparent !important;
            background-image: url("https://cdn.shopify.com/s/files/1/0266/3864/7340/files/arrow-pag-prev.svg?v=1663151071");
            background-position: center;
            background-size: 12px;
        }
        .next {
            color: transparent !important;
            background-image: url("https://cdn.shopify.com/s/files/1/0266/3864/7340/files/arrow-pag.svg?v=1663150967");
            background-position: center;
            background-size: 12px;
        }
        .page {
            a {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: $primary;
                text-decoration: none !important;
                padding: 8px !important;
            }
            &.active {
                position: relative;
                top: 1px;
                a {
                    font-size: 18px;
                    font-weight: 600;
                }
            }
        }
    }

    .stamped-fa {
        margin-right: 8px;
        &.stamped-fa-star {
            color: $primary !important;
        }
        &.stamped-fa-star-o {
            color: $primary !important;
        }
        &.stamped-fa-star-half-o {
            color: $primary !important;
        }
    }
    .new-review-form {
        .stamped-button {
            padding: 13px 40px !important;
            font-family: $headings-font-family;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.1em;
            box-shadow: 0px 2px 10px rgba(0, 22, 35, 0.15) !important;
            border-radius: 50px;
            opacity: 1 !important;
            border: 2px solid $primary;
            color: $primary !important;
            text-transform: uppercase;
            transition: 0.3s;
            background-color: transparent !important;
            &:hover {
                color: $white !important;
                background-color: $primary !important;
            }
            &::before {
                content: none !important;
            }
        }
    }
}
