.three-steps {
  margin-bottom: 160px;
  z-index: 4;
  position: relative;
  @include media-breakpoint-down(sm) {
    margin-bottom: 94px;
  }       
  &__content {
    padding-top: 98px;
    padding-bottom: 98px;
    z-index: 4;
    color: $white;
    @include media-breakpoint-down(sm) {
      padding-top: 56px;
      padding-bottom: 56px;
    }
  }
  &__items {
    @include media-breakpoint-down(sm) {
      flex-direction: column;
      justify-content: center;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3 {
      color: $white;
      margin-top: 22px;
      margin-bottom: 15px;
      line-height: 38px;
      @include media-breakpoint-down(sm) {
        line-height: 31px;
      }
    }
    p {
      text-align: center;
      line-height: 24px;
      @include media-breakpoint-down(sm) {
        line-height: 21px;
      }
    }
    @include media-breakpoint-down(md) {
      margin-bottom: 32px;
      &:last-of-type {
        margin-bottom: 0;
      }
      h3 {
        font-size: 26px;
        margin-top: 16px;
        margin-bottom: 12px;
      }
    }
  }
  &__image {
    width: 100%;
    max-width: 114px;
    svg {
      width: 100%;
    }
  }
}