.template-sf-thank-you {
    background-color: $blissull_blue;
    .locations,
    #shopify-section-footer {
        display: none !important;
    }

    .default-page .container::before,
    .default-page .container::after {
        content: none !important;
    }

    .container {
        padding-bottom: 0 !important;
    }
}

.template-sf-thank-you {
    .main-page-thank {
        position: relative;
        min-height: 100vh; /* Fallback for browsers that do not support Custom Properties */
        min-height: calc(100vh - var(--vhHeader));
        padding: 50px 0;
        @include media-breakpoint-down(sm) {
            padding: 20px 0 50px;
        }
        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 517px;
            height: 532px;
            display: block;
            background-image: url("https://cdn.shopify.com/s/files/1/0655/4471/6515/files/cookies.png?v=1668595682");
            background-position: left;
            background-size: contain;
            pointer-events: none;
            z-index: -1;
            @media (max-width: 1400px) {
                width: 360px;
                height: 410px;
            }
            @include media-breakpoint-down(md) {
                content: none;
            }
        }

        &::after {
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            width: 271px;
            height: 488px;
            display: block;
            background-image: url("https://cdn.shopify.com/s/files/1/0655/4471/6515/files/cookie_1a10a74b-cf09-4cd5-a1b3-c02704b5d82a.png?v=1668595682");
            background-position: right;
            background-size: contain;
            pointer-events: none;
            z-index: -1;
            @media (max-width: 1400px) {
                width: 215px;
                height: 295px;
            }
            @include media-breakpoint-down(md) {
                content: none;
            }
        }

        &__text {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &__title {
            font-family: "Bonheur Royale", cursive !important;
            font-size: 141px;
            line-height: 169px;
            color: $black !important;
            text-transform: none !important;
            margin-bottom: 20px;
            @media (max-width: 1400px) {
                font-size: 120px;
                line-height: 120px;
            }
            @include media-breakpoint-down(sm) {
                font-size: 60px;
                line-height: normal;
            }
        }

        &__subtitle {
            font-family: $headings-font-family;
            display: inline-block;
            font-weight: 400;
            font-size: 32px;
            line-height: 38px;
            color: $white;
            text-transform: uppercase;
            text-align: center;
            margin: 20px auto 120px;
            @include media-breakpoint-down(sm) {
                font-size: 24px;
                line-height: normal;
                margin: 20px auto 40px;
            }
        }

        &__code {
            text-align: center;
            margin-bottom: 60px;
            h4 {
                margin-bottom: 20px;
                @media (max-width: 1400px) {
                    font-size: 38px;
                    line-height: 42px;
                }
                @include media-breakpoint-down(sm) {
                    font-size: 24px;
                    line-height: normal;
                    margin-bottom: 10px;
                }
            }
            span {
                font-family: $headings-font-family;
                color: $black;
                @media (max-width: 1400px) {
                    font-size: 38px;
                    line-height: 42px;
                }
                @include media-breakpoint-down(sm) {
                    font-size: 24px;
                    line-height: normal;
                }
            }
        }
        &__bottom-info {
            max-width: 825px;
            margin: auto;
            @media (max-width: 1400px) {
                max-width: 560px;
            }
            p {
                font-family: $headings-font-family;
                font-weight: 400;
                font-size: 24px;
                line-height: 29px;
                text-align: center;
                text-transform: uppercase;
                color: $gray;
                @include media-breakpoint-down(sm) {
                    text-transform: none;
                    font-size: 18px;
                    line-height: normal;
                }
            }
        }
    }
}
