// ==========================================================================
// ## SHOPIFY STATIC SECTION: MAIN CART
// ==========================================================================
.template-cart {
    #MainContent {
        > .container {
            position: relative;
            @include media-breakpoint-down(sm) {
                padding: 0 15px 20px !important;
            }
            &::before {
                position: absolute;
                bottom: 25%;
                left: -50%;
                margin: auto;
                content: "";
                display: block;
                width: 600px;
                height: 600px;
                background: $pink;
                filter: blur(400px);
                will-change: filter;
                opacity: 0.4;
                pointer-events: none;
                @include media-breakpoint-down(sm) {
                    content: "";
                    left: -8%;
                    width: 250px;
                    height: 250px;
                }
            }
            &::after {
                position: absolute;
                right: -50%;
                bottom: 0;
                margin: auto;
                content: "";
                display: block;
                width: 600px;
                height: 600px;
                background: $primary;
                filter: blur(400px);
                will-change: filter;
                opacity: 0.4;
                transform: matrix(-1, 0, 0, 1, 0, 0);
                pointer-events: none;
                @include media-breakpoint-down(sm) {
                    content: "";
                    right: -15%;
                    width: 250px;
                    height: 250px;
                }
            }
        }
    }
    .instagram-feed {
        display: none;
    }
    .header__icon--cart {
        pointer-events: none;
    }
    #main-cart-footer {
        &.is-empty {
            margin-bottom: 270px;
            @include media-breakpoint-down(sm) {
                margin-bottom: 141px;
            }
            > div {
                display: none !important;
            }
        }
    }
    .cart__empty-text {
        @include media-breakpoint-down(sm) {
            margin: 0 0 2rem;
        }
    }
    .cart-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 240px;
        @include media-breakpoint-down(lg) {
            justify-content: center;
        }
        @include media-breakpoint-down(md) {
            flex-direction: column;
            margin-bottom: 190px;
        }
        @include media-breakpoint-down(sm) {
            margin-bottom: 100px;
        }
        &.is-empty {
            .continue-link,
            #gs__toggle-box {
                display: none !important;
            }
        }
        .cart-title {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin: 73px 0 50px;
            @include media-breakpoint-down(sm) {
                margin: 45px 0 35px;
            }
            .continue-link {
                display: flex;
                width: 100%;
                margin-bottom: 30px;
            }
            a {
                font-family: $headings-font-family;
                font-weight: 400;
                font-size: 20px;
                line-height: normal;
                color: $primary;
                text-decoration: none;
                border-bottom: 1px solid transparent;
                transition: 0.2s;
                &:hover {
                    border-bottom: 1px solid $primary;
                }
            }
            h1 {
                text-align: center;
                font-style: normal;
                font-weight: 400;
                font-size: 48px;
                line-height: 58px;
                text-transform: uppercase;
                color: $primary;
                @include media-breakpoint-down(sm) {
                    font-size: 40px;
                    line-height: 48px;
                }
            }
        }
        .cart-table {
            max-width: 48%;
            width: 50%;
            margin-right: 140px;
            margin-top: -43px;
            @include media-breakpoint-down(lg) {
                margin-right: 70px;
            }
            @include media-breakpoint-down(md) {
                max-width: 100%;
                width: 100%;
                margin-right: 0;
                margin-bottom: 60px;
                margin-top: 0;
            }
            > .cart-drawer {
                &.is-empty {
                    position: absolute;
                    left: 0;
                    right: 0;
                    z-index: 6;
                }
            }
            .cart__items {
                padding-bottom: 0;
                border-bottom: none;
            }
            .cart-items {
                gap: 0 !important;
                .cart-item {
                    display: grid;
                    grid-template: repeat(2, auto) / repeat(4, 1fr);
                    margin-bottom: 0;
                    gap: 0 !important;
                }
                .quantity {
                    border: none;
                    border-radius: 50px;
                    width: 100%;
                    max-width: 202px;
                    min-width: 202px;
                    min-height: 50px;
                    background-color: $white;
                    @include media-breakpoint-down(sm) {
                        min-height: 40px;
                        max-width: 150px;
                        min-width: 150px;
                    }
                    &::before,
                    &::after {
                        content: none;
                    }
                    &__button {
                        min-width: 50px;
                        @include media-breakpoint-down(sm) {
                            max-width: 40px;
                            min-width: 40px;
                        }
                        &[name="minus"] {
                            border-top: 2px solid $primary;
                            border-left: 2px solid $primary;
                            border-bottom: 2px solid $primary;
                            border-radius: 50px 0px 0px 50px;
                        }
                        &[name="plus"] {
                            border-top: 2px solid $primary;
                            border-right: 2px solid $primary;
                            border-bottom: 2px solid $primary;
                            border-radius: 0px 50px 50px 0px;
                        }
                        svg {
                            width: 16px;
                        }
                    }
                    &__input {
                        border: 2px solid $primary;
                        font-size: 16px !important;
                        color: $gray;
                        font-weight: 400;
                        @include media-breakpoint-down(sm) {
                            max-width: 70px;
                            min-width: 70px;
                            width: 100%;
                        }
                    }
                }

                .cart-item__media {
                    width: 182px;
                    padding-left: 2px;
                    @include media-breakpoint-down(sm) {
                        width: 122px;
                        padding-top: 16px;
                    }
                    .cart-item__img {
                        position: relative;
                        width: 180px;
                        height: 180px;
                        filter: drop-shadow(0px 2px 10px rgba(0, 22, 35, 0.15));
                        border-radius: 10px;
                        @include media-breakpoint-down(sm) {
                            width: 120px;
                            height: 120px;
                        }
                        &::before {
                            content: "";
                            display: block;
                            position: absolute;
                            top: -2px;
                            left: -2px;
                            right: -2px;
                            bottom: -2px;
                            background: linear-gradient(
                                90deg,
                                rgb(82, 193, 209) 0%,
                                rgb(167, 144, 206) 35%,
                                rgb(239, 154, 176) 100%
                            );
                            border-radius: 10px;
                            z-index: -1;
                            pointer-events: none;
                            transition: 0.3s;
                        }
                        img {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                            border-radius: 10px;
                        }
                    }
                }

                .cart-item__details {
                    padding-left: 30px;
                    @include media-breakpoint-down(sm) {
                        padding-left: 16px;
                        min-width: 160px;
                        padding-top: 16px;
                    }
                    a {
                        display: -webkit-box;
                        overflow: hidden;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        font-family: $headings-font-family;
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 29px;
                        color: $black;
                        text-decoration: none !important;
                        @include media-breakpoint-down(sm) {
                            display: -webkit-box;
                            overflow: hidden;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                        }
                    }
                    > .cart-item__discounted-prices {
                        position: relative;
                        display: none;
                        align-items: center;
                        @include media-breakpoint-down(sm) {
                            display: flex;
                            margin-bottom: 18px;
                        }
                        .cart-item__old-price.price {
                            font-weight: 300;
                            font-size: 15px;
                            line-height: 22px;
                            text-decoration-line: line-through;
                            color: $gray;
                            @include media-breakpoint-down(sm) {
                                font-size: 12px;
                                line-height: 18px;
                                margin-right: 10px;
                                margin-bottom: 0;
                            }
                        }
                        .price {
                            font-weight: 600;
                            font-size: 18px;
                            line-height: 25px;
                            color: $primary;
                            @include media-breakpoint-down(sm) {
                                font-size: 16px;
                                line-height: 22px;
                                margin-bottom: 0;
                            }
                        }
                    }
                    > .price {
                        position: relative;
                        display: none;
                        align-items: center;
                        margin-left: auto;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 25px;
                        color: $primary;
                        @include media-breakpoint-down(sm) {
                            display: flex;
                            font-size: 16px;
                            line-height: 22px;
                            margin-bottom: 15px;
                        }
                    }
                }

                .cart-item__quantity {
                    position: relative;
                    padding-left: 30px;
                    @include media-breakpoint-down(sm) {
                        padding-left: 16px;
                    }
                    .cart-item__quantity-wrapper {
                        > .cart-item__discounted-prices {
                            position: relative;
                            display: flex;
                            align-items: center;
                            padding-left: 25px;
                            margin-left: auto;
                            @include media-breakpoint-down(sm) {
                                display: none;
                            }
                            .cart-item__old-price.price {
                                position: absolute;
                                top: -15px;
                                right: 0;
                                margin: 0;
                                font-weight: 300;
                                font-size: 15px;
                                line-height: 22px;
                                text-decoration-line: line-through;
                                color: $gray;
                            }
                            .price {
                                font-weight: 600;
                                font-size: 18px;
                                line-height: 25px;
                                color: $primary;
                            }
                        }
                        > .price {
                            position: relative;
                            display: flex;
                            align-items: center;
                            margin-left: auto;
                            font-weight: 600;
                            font-size: 18px;
                            line-height: 25px;
                            color: $primary;
                            @include media-breakpoint-down(sm) {
                                display: none;
                            }
                        }
                    }
                }

                .cart-item__totals {
                    pointer-events: auto;
                    @include media-breakpoint-down(sm) {
                        padding-top: 12px;
                    }
                    .cart-item__price-wrapper {
                        display: none;
                    }
                    cart-remove-button {
                        margin-top: 0;
                        position: relative;
                        top: -5px;
                        button {
                            justify-content: flex-end;
                        }
                    }
                }

                .cart-item__discounted-prices {
                    display: flex;
                    align-items: center;
                }
            }
            #gs__toggle-box {
                p {
                    display: flex;
                    align-items: center;
                }
                label {
                    line-height: normal;
                }
            }
        }
        .cart__footer-wrapper {
            max-width: 40%;
            width: 50%;
            height: fit-content;
            position: relative;
            z-index: 2;
            @include media-breakpoint-down(lg) {
                width: 40%;
            }
            @include media-breakpoint-down(md) {
                max-width: 100%;
                width: 100%;
                margin-right: 0;
                margin-bottom: 60px;
            }
        }
        .cart__footer {
            display: flex;
            flex-direction: column;
            .cart__dynamic-checkout-buttons {
                display: none !important;
            }
            .cart__blocks {
                margin-left: 0;
            }
        }
    }

    .cart__footer {
        padding-top: 15px;
        padding-bottom: 0 !important;
        @include media-breakpoint-down(md) {
            position: relative;
        }
        &.hide {
            .totals {
                margin-bottom: 0 !important;
            }
            .cart__note {
                display: none !important;
            }
        }
        .cart__blocks {
            width: 100%;
        }
        .totals {
            display: flex;
            justify-content: space-between;
            position: relative;
            padding: 15px 0;
            margin-bottom: 30px;
            &::before {
                content: "";
                display: block;
                position: absolute;
                height: 2px;
                left: 0;
                right: 0;
                bottom: -2px;
                background: linear-gradient(
                    90deg,
                    rgb(82, 193, 209) 0%,
                    rgb(167, 144, 206) 35%,
                    rgb(239, 154, 176) 100%
                );
                border-radius: 10px;
                z-index: 1;
                pointer-events: none;
                transition: 0.3s;
            }
            &__subtotal {
                font-family: $headings-font-family;
                font-weight: 400;
                font-size: 32px;
                line-height: 38px;
                color: $primary;
                @include media-breakpoint-down(sm) {
                    font-size: 26px;
                    line-height: 31px;
                }
            }
            &__subtotal-value {
                font-family: $headings-font-family;
                font-weight: 400;
                font-size: 32px;
                line-height: 38px;
                color: $black;
                @include media-breakpoint-down(sm) {
                    font-size: 26px;
                    line-height: 31px;
                }
            }
        }
        .cart__note {
            display: flex;
            flex-direction: column;
            &::before,
            &::after {
                content: none;
            }
            label {
                position: static;
                font-family: $headings-font-family;
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 29px;
                color: $gray;
                margin-bottom: 15px;
                @include media-breakpoint-down(sm) {
                    font-size: 20px;
                    line-height: 21px;
                }
            }
            textarea {
                width: 100%;
                min-height: 150px;
                background: #ffffff;
                border: 2px solid #52c1d1;
                border-radius: 10px;
                resize: none;
            }
        }
        .cart__ctas {
            gap: 0;
            margin-top: 0;
        }
        .gs__app-container * {
            color: $gray;
        }
        .gs__app-container {
            .gs__wrapper {
                width: 100% !important;
                margin: 0 !important;
                .gs__toggle-feature-checkbox {
                    padding: 0 !important;
                }
                .gs__custom-checkbox {
                    width: 40px !important;
                    height: 40px !important;
                    border: 2px solid $primary !important;
                    @include media-breakpoint-down(sm) {
                        width: 30px !important;
                        height: 30px !important;
                    }
                    &::after {
                        border-color: $primary !important;
                        left: 14px;
                        top: 5px;
                        width: 9px;
                        height: 21px;
                        @include media-breakpoint-down(sm) {
                            left: 10px;
                            top: 4px;
                            width: 7px;
                            height: 15px;
                        }
                    }
                }
                .gs__checkbox-input-title {
                    font-family: $headings-font-family;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 40px;
                    color: $black;
                    padding-left: 14px;
                    @include media-breakpoint-down(sm) {
                        font-size: 20px;
                        line-height: 30px;
                        padding-left: 5px;
                    }
                }
                .gs__checkbox-image {
                    display: none !important;
                }
            }
            input,
            textarea {
                font-size: 16px !important;
                background-color: #fff;
                &::-webkit-input-placeholder {
                    font-size: 16px;
                }
                &::-moz-placeholder {
                    font-size: 16px;
                }
                &:-ms-input-placeholder {
                    font-size: 16px;
                }
                &:-moz-placeholder {
                    font-size: 16px;
                }
            }
            .gs__open-toggle,
            .gs__save-attributes {
                display: inline-block;
                padding: 11px 57px;
                background: $white;
                border: 2px solid #52c1d1;
                box-shadow: 0px 2px 10px rgba(0, 22, 35, 0.15);
                border-radius: 50px;
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                text-align: center;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: $primary;
                transition: 0.3s;
                text-decoration: none !important;
                font-family: $headings-font-family;
                min-height: 50px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                &:hover {
                    background-color: $primary;
                    color: $white;
                }
            }

            .gs__open-toggle {
                margin-top: 30px;
            }
        }
        .gs__toggle-feature-item {
            &.gs__collapsed {
                .gsMessageContainer {
                    display: none !important;
                }
            }
        }
        .cart__delivery {
            position: absolute;
            top: 100%;
            margin-top: 20px;
            p {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: $black;
                margin-bottom: 10px;
                b {
                    color: $primary;
                    font-weight: 600;
                }
            }
        }
    }
}
