.main-fundraising {
    .page-top {
        background-color: #FDE3E6;
        position: relative;
        background-image: url("https://cdn.shopify.com/s/files/1/0266/3864/7340/files/white_wave_bottom_revert.svg?v=1663318885");
        background-position: left bottom;
        background-size: 100% auto;
        background-repeat: no-repeat;
        &:after,
        &::after {
            z-index: 0;
            width: 100%;
            display: block;
            content: '';
            position: absolute;
            background-image: url("https://cdn.shopify.com/s/files/1/0655/4471/6515/files/876_business.png?v=1664283745");
            background-repeat: no-repeat;
            background-position: right bottom;
            background-size: auto 100%;
            height: 94%;
            top: -16px;
            left: 46%;
            bottom: 0;
            transform: translateX(-50%);
            pointer-events: none;
            @include media-breakpoint-up(md) {
                max-width: 720px;
            }
            @include media-breakpoint-up(lg) {
                max-width: 1024px;
            }
            @include media-breakpoint-up(xl) {
                max-width: 1260px;
            }
            @include media-breakpoint-down(sm) {
                height: 98%;
                background-position: right bottom;
                background-size: 260px auto;
                //transform: translateX(-50%) scaleX(-1);
            }
        }
        @include media-breakpoint-down(sm) {
            padding-bottom: 120px;
            background-image: url("https://cdn.shopify.com/s/files/1/0266/3864/7340/files/white_wave_bottom_mobile.svg?v=1663319522");
            @include media-breakpoint-down(sm) {
                padding-bottom: 140px;
            }
        }
        & > * {
            position: relative;
            z-index: 1;
        }
    }
    .main-page-title {
        color: $primary;
        text-transform: uppercase;
        margin-bottom: 15px;
        max-width: 500px;
    }
    .main-page-desc {
        max-width: 500px;
        color: $black;
        font-size: 16px;
        line-height: 24px;
        @include media-breakpoint-down(sm) {
            font-size: 14px;
            line-height: 21px;
        }
    }
    .main-page-btns {
        max-width: 400px;
        margin-bottom: 100px;
        a {
            width: 285px;
        }
        @include media-breakpoint-down(sm) {
            margin-top: 24px !important;
            margin-bottom: 140px;
            a {
                width: 100%;
            }
        }
    }
}

.template-sf-fundraising {
    .address-section {
        margin-bottom: 160px;
        @include media-breakpoint-down(sm) {
            margin-bottom: 100px;
        }

        &::after {
            display: none;
            background: #fee4a7;
            filter: blur(200px);
            top: -35%;
            left: -50%;
        }
    }    
}