nav.breadcrumb {
  display: block;
  padding: 48px 0 30px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  span {
    color: $black;
    font-size: 16px;
    line-height: 24px;
    display: inline;
    vertical-align: top;
  }
  a {
    display: inline;
    color: $primary;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    vertical-align: top;
    & + span {
      color: $primary;
      svg {
        color: inherit;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    padding-top: 25px;
    padding-bottom: 39px;
    span, a {
      font-size: 14px;
      line-height: 21px;
    }
  }
}
