// ==========================================================================
// ## COMPONENT: BUTTON
// ==========================================================================
.btn-white-border {
    display: inline-block;
    padding: 11px 57px;
    background: $white;
    border: 2px solid #52c1d1;
    box-shadow: 0px 2px 10px rgba(0, 22, 35, 0.15);
    border-radius: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $primary;
    transition: 0.3s;
    text-decoration: none !important;
    font-family: $headings-font-family;
    min-height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &:hover {
        background-color: $primary;
        color: $white;
    }
    &--default-text {
        text-transform: none;
        letter-spacing: 0;
        font-family: $font-family-base;
        font-weight: normal;
    }
    @include media-breakpoint-down(xs) {
        line-height: 23px;
        font-size: 14px;
    }
}

.btn-blue-gradient {
    position: relative;
    display: inline-block;
    padding: 11px 60px;
    text-align: center;
    background-color: $primary;
    box-shadow: 0px 2px 10px rgba(0, 22, 35, 0.15);
    border-radius: 50px;
    text-decoration: none !important;
    min-height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 50px;
        background: linear-gradient(86.79deg, #52c1d1 4.92%, #a790ce 51.18%, #ef9ab0 95.93%);
        z-index: 1;
        opacity: 0;
        transition: 0.3s;
    }
    span {
        position: relative;
        z-index: 3;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: $white;
        font-family: $headings-font-family;
        z-index: 2;
        @include media-breakpoint-down(xs) {
            font-size: 14px;
        }
    }
    &:hover {
        &::before {
            opacity: 1;
        }
    }
}

.btn-blue-border {
    position: relative;
    display: inline-block;
    padding: 11px 57px;
    background-color: $white;
    border: 2px solid $primary;
    box-shadow: 0px 2px 10px rgba(0, 22, 35, 0.15);
    border-radius: 50px;
    text-decoration: none !important;
    transition: 0.3s;
    min-height: 46px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    span {
        position: relative;
        z-index: 3;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: $primary;
        font-family: $headings-font-family;
        z-index: 2;
        transition: 0.3s;
        @include media-breakpoint-down(xs) {
            font-size: 14px;
        }
    }
    &:hover {
        background-color: $primary;
        color: $white;
        span {
            color: $white;
        }
    }
}
.btn-small {
    padding: 10px 30px;
    &.btn-white-border {
        padding: 13px 30px;
    }
}
