.template-index {
  .bottom-cookie-line, 
  .top-cookie-line {
    z-index: 5;
    display: block !important;
    position: absolute;
    content: url("https://cdn.shopify.com/s/files/1/0655/4471/6515/files/Rectangle_130.png?v=1667814973");
    left: 0;
    right: 0;
    height: 20px;
    width: 100%;
    object-fit: cover;
    @include media-breakpoint-down(xs) {
      content: url("https://cdn.shopify.com/s/files/1/0655/4471/6515/files/Rectangle_130_mb.png?v=1667818190");
    }
  }

  .top-cookie-line {
    top: 0;
  }


  .bottom-cookie-line {
    bottom: -1px;
  }
}