.facets__form {
  grid-template-columns: 3fr 1fr !important;
  margin-bottom: 65px !important;
}
.facet-filters__field .select {
  width: 285px !important;
}
.mobile-facets__wrapper {
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
  .facets {
    width: 100%;
    margin-top: 17px;
  }
  .facets__form {
    margin-bottom: 30px !important;
    grid-template-columns: 1fr !important;
    gap: 0;
    width: 100%;
    .facet-filters {
      grid-column: 1;
      padding-left: 0;
      max-width: calc(100vw - 30px);
    }
    .facet-filters__field {
      justify-content: flex-start;
      .select {
        width: 100% !important;
      }
    }
  }
}
