.select {
  @extend .btn-white-border;
  padding: 0 !important;
  position: relative;
  text-decoration: none !important;
  &:hover {
    color: $primary;
    background-color: $white;
  }
  select {
    padding: 13px 60px 13px 30px;
    color: $primary;
    font-size: 16px;
    line-height: 24px;
    font-family: $font-family-base;
    text-transform: none;
    letter-spacing: 0;
    font-weight: normal;
    text-decoration: none !important;
    option {
      padding: 10px 0;
      height: 40px;
    }
    & + svg {
      color: $primary;
      right: 20px !important;
      width: 12px;
      height: auto !important;
    }
    & + label {
      position: absolute;
      top: 13px;
      left: 30px;
      background-color: $white;
      color: $primary;
      text-transform: none;
      letter-spacing: 0;
      font-weight: normal;
      width: calc(100% - 90px);
      text-align: left;
      font-size: 16px;
      line-height: 24px;
      font-family: $font-family-base;
      pointer-events: none;
    }
    &:focus:active + label {
      display: none;
    }
  }
}
.field__input:focus,
.select__select:focus,
.customer .field input:focus,
.customer select:focus,
.localization-form__select:focus.localization-form__select::after {
  box-shadow: none !important;
}
