<div class="hero-banner" style="background: {{ section.settings.background_gradient }}">
  <div class="hero-banner__container container">
    {% if section.settings.title != blank %}
      <h1>{{ section.settings.title }}</h1>
    {% endif %}
    {% if section.settings.subtitle != blank %}
      <h4>{{ section.settings.subtitle }}</h4>
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Hero banner",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }, 
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle"
      }, 
      {
        "type": "color_background",
        "id": "background_gradient",
        "label": "Heading gradient color"
      }
    ],
    "presets": [
      {
        "name": "Hero banner"
      }
    ]
  }
{% endschema %}